@{ 
    ViewData["Title"] = "About";
}
<div id="sub-container">
    <img src="~/images/background.jpg" height="250" width="100%"/>
</div>
<!--   Right Pane: Introduction -->
<div id="r2">

</div>
