@{
    ViewData["Title"] = "Contact";
}

<div>
    <img src="~/images/background.jpg" height="15%" width="100%" />
</div>
<h2>Beijing Hengfest Technology Development Co. Ltd</h2>

<address>
    <strong>Address: </strong> 305 Apt 11B, Deshengmenwai Avenue Xicheng District, Beijing <br />
    <strong>Zip Code: </strong>100 088 <br />
    <strong>Phone: </strong>010-6236 8041<br />
    <strong>Fax: </strong>010-6236 8009<br />
    <strong>Email: </strong>bjhfst@163.com <br />
    <strong>Website: </strong>www.surgineer.com.cn <br />
</address>
